@import "tailwindcss";

:root {
  --background: #fcfcfd;
  --foreground: #0f172a;
}

body {
  background-color: #fcfcfd;
  color: #0f172a;
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}
